@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .safe-area-top {
    padding-top: calc(1rem + env(safe-area-inset-top));
  }
  .safe-area-bottom {
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
  }
}